[access]
	inheritFrom = All-Projects
[project]
	description = AAI Micro Service used to route/persist AAI event data for consumption by the UI
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/onap-gerrit-aai-data-router-committers
	owner = group saml/onap-gerrit-aai-data-router-committers
